<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Porta de Correr Fechamentos Lateral</title>
</head>
<body>
<h1>Portas</h1>
<h3>Correr com fechamento lateral</h3>

<!-- FORMULÁRIO -->
<form method="POST" action="/portas/correrfl">

<input type="radio" name="lateral" value="com"
{% if lateral == "com" %} checked {% endif %}> Com Marco Lateral

<input type="radio" name="lateral" value="sem"
{% if lateral == "sem" %} checked {% endif %}> Sem Marco Lateral
<br>

<input type="radio" name="inferior" value="marco"
{% if inferior == "marco" %} checked {% endif %}> Marco Inferior

<input type="radio" name="inferior" value="trilho"
{% if inferior == "trilho" %} checked {% endif %}> Trilho Tartaruga

<br>
<input type="radio" name="rold" value="120" {% if rold == "120" %} checked {% endif %} > Roldana RS 120Kg
<input type="radio" name="rold" value="150" {% if rold == "150" %} checked {% endif %} > Roldana RS 150kg


<p>Largura
<input type="number" placeholder="Largura" name="largura" value="{{largura}}"step="0.01" required>
</p>

<p>Altura
<input type="number" placeholder="Altura" name="altura" value="{{altura}}" step="0.01" required>
</p>

<p>Folhas
<input type="number" placeholder="Folhas" name="folhas" value="{{folhas}}" required>
</p>

<button type="submit">Calcular</button>
</form>

<div>
<h3>Porta de Correr com 3 Folhas Fechamento Lateral</h3>
<h3>Largura: 200.0 Altura: 210.0 </h3>
<table>
<tr>
	<th>Observações</th>
	<th>Vidro</th>
</tr>
<tr>
	<td>
		✅Com Marco Lateral <br>✅Com Trilho Tartaruga <br>✅Roldana RS 150Kg
	</td>
	<td>
		<table>
			<tr>
				<td></td>
				<td>3x</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><img src="img/vidro.jpg"  width="100"></td>
				<td>196,4</td>
			</tr>
			<tr>
			    <td></td>
				<td>85.3</td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
</table>


<table>
<tr>
<th>Perfil</th>
<th>Descricão</th>
<th>Cortes</th>
<th>Tamanho</th>
<th>Imagens</th>
</tr>
<tr name="marco_superior">
<td>SU-010</td>
<td>Marco superior</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su010.jpg" width='60'></td>
</tr>
<tr name="marco_inferior">
<td>SU-011</td>
<td>Marco inferior</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su011.jpg" width='60'></td>
</tr>
<tr name="marco_lateral">
<td>SU-012</td>
<td>Marco lateral</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su012.jpg" width='60'></td>
</tr>
<tr name="complemento_lateral">
<td>SU-008</td>
<td>Complemento lateral</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su008.jpg" width='60'></td>
</tr>
<tr name="montante_cental">
<td>SU-245</td>
<td>Montante central</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su245.jpg" width='60'></td>
</tr>
<tr name="montante_mao_amigar_ce">
<td>SU-0242</td>
<td>Montante mão amiga</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su242.jpg" width='60'></td>
</tr>
<tr name="montante_mao_amiga_se">
<td>SU-243</td>
<td>Montante mão amiga</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su243.jpg" width='60'></td>
</tr>
<tr name="travessa">
<td>SU-225</td>
<td>Travessa</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su225.jpg" width='60'></td>
</tr>
<tr name="baguete_largura">
<td>SU-102</td>
<td>Baguete largura</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su102.jpg" width='60'></td>
</tr>
<tr name="baguete_altura">
<td>SU-102</td>
<td>Baguete altura</td>
<td>01</td>
<td>210.0</td>
<td><img src="img/su102.jpg" width='60'></td>
</tr>
</table>

</div>

</body>
</html>