<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-4" href="/">
      CalcEsqApp
    </a>

    <!-- Botão mobile -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menuPrincipal"
      aria-controls="menuPrincipal"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="menuPrincipal">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/">🏠 Início</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            ⚙️ Opções
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Tema</a></li>
            <li><a class="dropdown-item" href="#">Licensa</a></li>
            <li><a class="dropdown-item" href="#">Sobre</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-danger" href="/sair">
                Fechar
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</nav>