<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}CalcEsqApp{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body class="d-flex flex-column min-vh-100 bg-light">

    {% include 'includes/navbar.html' %}

    <!-- CONTEÚDO -->
    <main class="flex-grow-1 py-3">
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>