<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalcEsqApp</title>
</head>

<body>
    <p><a href="/">Inicio</a></p>
    <h1>CalcEsqApp</h1>
    <ul>
        <h3>Portas</h3>
        <li>Porta de Giro
            <ul>   
                <li>Suprema</li>
                <li>Linha 30</li>
            </ul>
        </li>
        <li>Porta Pivotante 
            <ul>   
                <li>Linha 30</li>
                <li>Linha 42</li>
            </ul>
        </li>
        <li>Porta de Correr Fechamento Central
            <ul>   
                <li><a href="">Suprema</a></li>
                <li>Gold</li>
            </ul>
        </li>
        <li>Porta de Correr Fechamentos Lateral
            <ul>   
                <li><a href="/portas/correrfl">Suprema</a></li>
                <li>Gold</li>
            </ul>
        </li>
    </ul>
    <ul>
        <h3>Janelas</h3>
        <li>Janela de Correr Fechamentos Central
            <ul>
                <li>Suprema</li>
            </ul>
        </li>
        <li>Janela de Correr Fechamentos Lateral 
            <ul>
                <li><a href="/janelas/correrfl">Suprema</a></li>
            </ul>
        </li>
    </ul>
    <ul> 
        <h3>Maxim-Ar</h3>
        <li>Simples
            <ul>
                <li>Suprema</li>
            </ul>
        </li>
        <li> Muiltiplo
            <ul>
                <li>Suprema</li>
            </ul>
        </li>
    </ul>
    <ul>
        <h3>Portiolas</h3>
        <li>Giro 1 folha
            <ul>
                <li>Suprema</li>
            </ul>
        </li>
        <li>Giro 2 folha
            <ul>
                <li>Suprema</li>
            </ul>
        </li>
    </ul>
</body>

</html>
